name: CI 

on: [ push, pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
    - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
      with:
        python-version: '3.11.7' 
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .
        pip install .[test]
        pip install .[package]
    - run: make lint
    - run: EVENTHUB_NAME=test pytest .
    - name: Package
      run: make clean "logexport.$(python -m setuptools_scm).zip"
    - name: Release
      uses: softprops/action-gh-release@6da8fa9354ddfdc4aeace5fc48d7f679b5214090 # v2.4.1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: logexport.*.zip
      
